<div class="col-3 overflow-auto vh-100" style="background-color:#282A35; color: white;">
    {{!-- Search Bar --}}
    <input class="col mt-5" type="text w-100" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
    {{!-- List of Children --}}
    <ul id="myMenu">
        {{#each students}}
        <li><a href="/parent/tuitionFee/{{id}}">{{name}}</a></li>
        {{/each}}
    </ul>
</div>

<script>
    function myFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("mySearch");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myMenu");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>