<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4"><b>No Outstanding Payment</b></h1>
        <br>
        <p class="lead">Successful payment for the following:</p>
        <p>Student: {{student.name}}</p>
        <p>Period: {{formatDate duration.startDate 'DD MMM YYYY'}} - {{formatDate duration.actualEnd 'DD MMM YYYY'}}</p>
    </div>
</div>