<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">No Outstanding Payment</h1>
        <p class="lead">Thank you for your timely payment!</p>
    </div>
</div>