<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4"><b>No Student Selected</b></h1>
        <p class="lead">Select a student on the left side (Add student if empty) to view.</p>
    </div>
</div>