<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">No Student Selected</h1>
        <p class="lead">Please select a student on the left side to view.</p>
    </div>
</div>