{{> _guestNavBar}}
{{> _flashmsg}}
<div class="jumbotron bg-dark text-light text-center">
	<h2 class="display-4">Tuition Academy</h2>
	<p class="lead">Simplify your learning</p>
	<hr class="my-4 bg-light">
	<a class="btn btn-info" href="/user/signup/student" role="button">Get started â</a>
</div>