{{> _tutor_navbar}}
<div class="jumbotron text-center">
	<div class="container">
		<h1 class="display-4">{{title}}</h1>
		<p class="lead">Tuition Academy</p>
		<form action="/flash" method="post">
			<button type="submit" class="btn btn-primary">Send Flash</button>
		</form>
	</div>
	<br>
</div>