{{> _guestNavBar}}
<div class="jumbotron bg-dark text-light text-center">
  <div class="container text-left">
    {{> _flashmsg}}
  </div>
	<h2 class="display-4">Tuition Academy</h2>
	<p class="lead">Simplify your learning</p>
	<hr class="my-4 bg-light">
	<a class="btn btn-info" href="/user/getStarted" role="button">Get started â</a>
</div>