.logo {
  width: 130px;
  margin: auto;
}

body {
  height: 20rem;
  /* Manual height for make scrollbar appear */
  /* font-family: 'Product Sans', sans-serif !important; */
  overflow-y: overlay !important;
  /* For scrollbar overlay on content */
  overflow-x: hidden !important;
}

::selection {
  background: #5f97f6;
  color: white;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: .30rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(27, 27, 27, .4);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Search Bar (_leftNavbar)*/
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Search Menu (_leftNavbar) */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: white;
  display: block
}

#myMenu li a:hover {
  background-color: #878999;
}

/* Check Button (tuitionFee) */
.check_btn {
  position: absolute;
  top: 8%;
  right: 6%;
  background-color: rgba(92, 92, 92, .4);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: .5rem;
}

/*Scoreboard styling*/

/* podium styling  */
.container .one {
  display: flex;
  align-items: flex-end;
}

.podium__item {
  width: 180px;
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
}

.podium__city {
  text-align: center;
  padding: 0 .5rem;
}

.podium__number {
  width: 27px;
  height: 75px;
}

.podium .first {
  color: black;
  font-size: 80px;
  font-weight: 600;
  min-height: 120px;
  border-radius: 15px 15px 0 0;
  background: rgb(255, 172, 37);
  background:
    linear-gradient(333deg,
      rgba(255, 172, 37, 1) 0%,
      rgba(254, 207, 51, 1) 13%,
      rgba(254, 224, 51, 1) 53%,
      rgba(255, 172, 37, 1) 100%);
}

.podium .second {
  min-height: 80px;
  background: blue;
  border-radius: 15px 0 0 0;
}

.podium .third {
  min-height: 40px;
  background: green;
  border-radius: 0 15px 0 0;
}

/* podium styling  */


/* table styling */
/* .container>header { */
/* margin: 0 auto; */
/* padding: 1em; */
/* text-align: center; */
/* } */
/*  */
/* .container>header h1 { */
/* font-weight: 600; */
/* font-size: 3em; */
/* margin: 0; */
/* } */
/*  */
/* .wrapper { */
/* line-height: 1.5em; */
/* margin: 0 auto; */
/* padding: 2em 0 3em; */
/* width: 90%; */
/* max-width: 2000px; */
/* overflow: hidden; */
/* } */
/*  */
/* table { */
/* border-collapse: collapse; */
/* width: 100%; */
/* background: #fff; */
/* } */
/*  */
/* th { */
/* background-color: #326295; */
/* font-weight: bold; */
/* color: #fff; */
/* white-space: nowrap; */
/* } */
/*  */
/* td, */
/* th { */
/* padding: 1em 1.5em; */
/* text-align: left; */
/* } */
/*  */
/* tbody th { */
/* background-color: #2ea879; */
/* } */
/*  */
/* tbody tr:nth-child(2n-1) { */
/* background-color: #f5f5f5; */
/* transition: all .125s ease-in-out; */
/* } */
/*  */
/* tbody tr:hover { */
/* background-color: rgba(50, 98, 149, .3); */
/* } */
/*  */
/* td.rank { */
/* text-transform: capitalize; */
/* } */

/* table styling */