<div class="container">
    <div class="card card-body">
        <h4 style="text-align:center">Create New Badge</h4>
        <form action="/badge/createbadge" method="post">
            <div class="row my-4">
                <div class="col">
                    <div class="form-group">
                        <input class="form-control bg-light" id="badgename" name="badgename" placeholder="Badge Name" required/>
                    </div>

                    <div class="form-group">
                        <input class="form-control bg-light" id="points" name="points" type="number" min="50" max="1000" required placeholder="Points Required" />
                    </div>

                    <div class="form-group">
                        <div class="card">
                            <div class="card-body text-left">
                                <label class="" for="color">Color</label>
                                <input class="form-control" id="color" type="color" name="color" required/>
                            </div>
                        </div>
                    </div>
                    <input id="posterURL" type="hidden" name="posterURL" value="{{badge.posterURL}}">
                    <div class="custom-file mb-2">
                        <input type="file" class="custom-file-input" id="posterUpload" name="posterUpload"
                            accept="image/png,image/jpeg,image/jpg,image/gif" required>
                        <label class="custom-file-label" for="customFile">Choose File</label>
                    </div>
                    <div class="text-danger small mb-2" id="posterErr" style="display:none"></div>


                    {{!-- <div class="form-group"> --}}
                        {{!-- <div class="card"> --}}
                            {{!-- <div class="card-body text-left"> --}}
                                {{!-- <label class="" for="icon">Icon</label> --}}
                                {{!-- <input class="form-control" id="icon" type="file" name="icon" /> --}}
                                {{!-- </div> --}}
                            {{!-- </div> --}}
                        {{!-- </div> --}}
                </div>

                <div class="col card" style="position: relative;">
                    <div style="position: absolute; bottom: 0; left: 40%">
                        <button class="btn btn-primary px-4" type="submit"
                            style="background-color: #282A35; border-color: #282A35">
                            Create</button>
                    </div>
                </div>
            </div>
    </div>
    </form>
</div>
</div>