<button data-modal-target="#modal" class="btn btn-primary px-4" type="submit"
    style="background-color: #282A35; border-color: #282A35">Create New</button>

<div class="modal" id="modal">
    <div class="modal-header">
        <button data-close-button class="close-button">&times;</button>
        <div class="title">Create New Badge</div>
    </div>
    <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis hic voluptatibus voluptatem quod
        eligendi aperiam rem doloremque tenetur eius dolor ullam assumenda deserunt, reprehenderit id rerum
        consequuntur,
        impedit quaerat ipsum?
    </div>
    <div id="overlay"></div>
</div>

<div>
    Hello
</div>