<style>

    /* table styling */
    .container>header {
        margin: 0 auto;
        padding: 1em;
        text-align: center;
    }

    .container>header h1 {
        font-weight: 600;
        font-size: 3em;
        margin: 0;
    }

    .wrapper {
        line-height: 1.5em;
        margin: 0 auto;
        padding: 2em 0 3em;
        width: 90%;
        max-width: 2000px;
        overflow: hidden;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        background: #fff;
    }

    th {
        background-color: #326295;
        font-weight: bold;
        color: #fff;
        white-space: nowrap;
    }

    td,
    th {
        padding: 1em 1.5em;
        text-align: left;
    }

    tbody th {
        background-color: #2ea879;
    }

    tbody tr:nth-child(2n-1) {
        background-color: #f5f5f5;
        transition: all .125s ease-in-out;
    }

    tbody tr:hover {
        background-color: rgba(50, 98, 149, .3);
    }

    td.rank {
        text-transform: capitalize;
    }

    /* table styling */
</style>


{{> _tutorNavBar}}
<div class="container">
    <div class="container row justify-content-center"
        style="background-color: #96D4D4; color:black;width: 85%; height: 600px; margin: auto; 
        margin-top: 50px; margin-bottom: 100px; border-radius: 10px; display: flex; align-items: center; justify-content: center;">
        <h4 class="mt-2 mb-1 mx-auto" style="color:#343a40">Score Board</h4>
        <div class="square centerd overflow-auto"
            style="background-color: white; width:90%; height: 490px; border-radius: 10px; margin: 0 0 45px 0">

            <div style="margin:30px 75px 0 70px">
                <div class="container one podium">
                    <div class="podium__item">
                        <p id="Name2" class="podium__city"></p>
                        <div class="podium__rank second">2</div>
                    </div>
                    <div class="podium__item">
                        <p id="Name1" class="podium__city"></p>
                        <div class="podium__rank first">1</div>
                    </div>
                    <div class="podium__item">
                        <p id="Name3" class="podium__city"></p>
                        <div class="podium__rank third">3</div>
                    </div>
                </div>
            </div>

            <div class="container overflow-auto">
                <div class="wrapper">
                    <table id="ranking">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Total Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each rankings}}
                            <tr>
                                <td class="rank">{{Rank}}</td>
                                <td id="Rank {{Rank}}" class="team">{{Studname}}</td>
                                <td class="points">{{Points}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <script>
        var rank1 = document.getElementById("Rank 1").innerHTML;
        document.getElementById("Name1").innerHTML = rank1;

        var rank2 = document.getElementById("Rank 2").innerHTML;
        document.getElementById("Name2").innerHTML = rank2;

        var rank3 = document.getElementById("Rank 3").innerHTML;
        document.getElementById("Name3").innerHTML = rank3;

    </script>