{{> _tutorNavBar}}
<div class="container py-4">
  {{> _flashmsg}}
  <div class="container mt-5 p-4 rounded-lg" style="background-color: #96D4D4;">
    <div class="container">
      <form action="/tutor/search-student">

      </form>
    </div>
    <div class="container">
      <div class="p-4 bg-light text-dark rounded-lg text-center">
        <form action="/tutor/update-student">

        </form>
      </div>
    </div>
  </div>
</div>