{{> _studentNavBar }}
<div class="container">
    <div class="container row justify-content-center"
        style="background-color: #96D4D4; color:black;width: 75%; height: 600px; margin: auto; 
        margin-top: 50px; margin-bottom: 100px; border-radius: 10px; display: flex; align-items: center; justify-content: center;">
        <h4 class="mt-2 mb-1 mx-auto">ScoreBoard</h4>
        <div class="square centerd overflow-auto"
            style="background-color: white; width:90%; height: 490px; border-radius: 10px; margin: 0 0 45px 0">

            <div style="margin:30px 75px 0 70px">
                <div class="container one podium">
                    <div class="podium__item">
                        <p id="Name2" class="podium__city"></p>
                        <div class="podium__rank second">2</div>
                    </div>
                    <div class="podium__item">
                        <p id="Name1" class="podium__city">Thomas Oh</p>
                        <div class="podium__rank first">1</div>
                    </div>
                    <div class="podium__item">
                        <p id="Name3" class="podium__city">Nick Nelson</p>
                        <div class="podium__rank third">3</div>
                    </div>
                </div>
            </div>

            <div class="container overflow-auto">
                <div class="wrapper">
                    <table id ="ranking">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Total Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each rankings}}
                            <tr>
                                <td class="rank">{{Rank}}</td>
                                <td id="Rank {{Rank}}" class="team">{{Studname}}</td>
                                <td class="points">{{Points}}</td>
                            </tr>
                            {{!-- <tr> --}}
                                {{!-- <td class="rank">2</td> --}}
                                {{!-- <td class="team">Thomas Oh</td> --}}
                                {{!-- <td class="points">485</td> --}}
                                {{!-- </tr> --}}
                            {{!-- <tr> --}}
                                {{!-- <td class="rank">3</td> --}}
                                {{!-- <td class="team">Nick Nelson</td> --}}
                                {{!-- <td class="points">460</td> --}}
                                {{!-- </tr> --}}
                            {{!-- <tr> --}}
                                {{!-- <td class="rank">4</td> --}}
                                {{!-- <td class="team">Wendy Ang</td> --}}
                                {{!-- <td class="points">450</td> --}}
                                {{!-- </tr> --}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <script>
        var rank1 = document.getElementById("Rank 1").innerHTML;
        document.getElementById("Name1").innerHTML = rank1;

        var rank2 = document.getElementById("Rank 2").innerHTML;
        document.getElementById("Name2").innerHTML = rank2;

        var rank3 = document.getElementById("Rank 3").innerHTML;
        document.getElementById("Name3").innerHTML = rank3;

    </script>